
*.lock
*.lock
*.lock
*.bin
*.lock
*.lock
*.lock
ApiBack/demo/.gradle/8.3/checksums/checksums.lock
ApiBack/demo/.gradle/8.3/dependencies-accessors/dependencies-accessors.lock
ApiBack/demo/.gradle/8.3/executionHistory/executionHistory.bin
ApiBack/demo/.gradle/8.3/fileHashes/fileHashes.bin
*.bin
ApiBack/demo/.gradle/buildOutputCleanup/buildOutputCleanup.lock
ApiBack/demo/.gradle/file-system.probe
ApiBack/demo/build/classes/java/main/com/example/demo/ApiFarquardApplication.class
ApiBack/demo/.idea/workspace.xml
